*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: #000;
}

.card-container{
    height: 300px;
    width: 400px;
    position: relative;
    overflow: hidden;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container:before{
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    bottom: calc(-100%);
    transition: all 1s;
    position: absolute;
    background: blueviolet;
    z-index: 1;
}

.card-container:hover:before{
    bottom: 0;
}

.content{
    position: relative;
    z-index: 2;
    color: #000;
    transition:1s;
    padding: 0 20px;
    text-align: center;
}

.card-container:hover .content{
    color: white;
}

h2{
    font-size: 22px;
    padding: 10px;
    
}

p{
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    padding-bottom: 20px;
}

a{
  text-decoration: none;
  background: orangered;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}
