body{
    margin: 0;
    padding: 0;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    margin: 20px;
    padding: 20px;
    height: 550px;
    width: 900px;
}

a{
    color: #fff;
    position: relative;
    background-color: crimson;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    overflow: hidden;
    transition: all 1s;
}

a:before{
    position: absolute;
    content: "DOWNLOAD";
    color: black;
    background:antiquewhite;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover:before{
    transform: translate(0);
}